body {
    background: #fff;
    font-family: "Merriweather", "Rubik", sans-serif;
}
li{
    display: block;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
  }
  
button {
    border: 0;
}

.eco__part2 {
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
}
.header{
  margin: 0 auto;
  max-width: 1000px;
  background:  #26353B;

}
.conteiner {
  max-width: 900px;
  margin: 0 auto;
}
.all{
  margin: 0 auto;
  max-width: 1000px;
  background: #222F33;
}
@media screen and (max-width: 1024px) {
  .all{
    left: 0;
    right: 0;
    z-index: 10;
    
  }
}
@media screen and (max-width: 768px) {
  body{
    text-align: center;
  }
}
